    <style>
        ul{
            list-style: none;
        }

        ul li{
            text-align: center;
        }


        hr{
            width: 50%;
        }
    
        #caixa{
            overflow-y: scroll;     
            height:14em;
            border: 1px solid black;
            width: 50%;
            margin: 1% auto;
            text-align: center;
            background-color: rgb(240, 243, 195);
            border-radius: 2em;
            color: black;
        }
    </style>

<h5 class="text-center mt-5">Comentários</h5>
<ul id="caixa">

    <% comentarios.slice(-100).forEach(function(comentario) { %>
 
        <li> <b>Data:</b> <%= comentario.data_entrada %></li>
        <li> <b>Horario:</b> <%= comentario.horario %></li>
        <li> <b>Nome:</b> <%= comentario.nome %></li>
        <li> <b>Email:</b>  <%= comentario.email %></li>
        <li> <br> <b>Comentario:</b> <br> <%= comentario.comentario %></li>

        <hr>
        <% }); %>
</ul>