<!DOCTYPE html>
<html>

<head>
  <title>
    <%- title %>
  </title>


  <%- include('elements/bootstrap'); %>


</head>


<header>
  <%- include('elements/head') %>
</header>

<form class="w-50 m-auto bg-secondary text-white text-center" method="get" action="/comentar">

  <div class="">
    <label for="comentario">Comentario:</label>
    <textarea style=" display: block; margin: auto; height: 10em; resize: none; width: 80%;" name="comentario" cols="40"  maxlength="250" size="250" type="text"  placeholder="coloque um comentario" id="comentario"></textarea>
  </div>


  <button type="submit" class="btn btn-primary mt-3" onclick="check()">Enviar</button>
</form>


<!-- coments -->
<div> 
  <%- include('coments') %>
</div>


</body>


<script>
  var id= "<%- id %>"

function check(){
  window.location.reload();
  var comentario=document.getElementById('comentario').value


  if(id==""){
    alert("cadastra-se primeiro!")
  }else if(comentario == ""){
  alert("você deixou o campo comentário vazio!")
}else{
  alert("comentário salvo com sucesso!")
  window.location.reload();
}
}

</script>


<footer>
  <%- include('elements/footer') %>
</footer>


</html>

