<!DOCTYPE html>
<html>

<head>
    <title>
        <%- title %>
    </title>


    <%- include('elements/bootstrap'); %>

        <style>
            h2 {
                background: rgba(128, 128, 128, 0.198);
            }
        </style>
</head>

<body>

    <header>
        <%- include('elements/head'); %>
    </header>


    <main style="margin-top:20%" class="text-center text-dark">
        <h2>Olá, Bem Vindo ao meu Teste-Técnico da Live University</h2>
    </main>


    <%- include('elements/bootstrapscript') %>


        <footer class="mt-5">
            <%- include('elements/footer') %>
        </footer>



</body>

</html>