<!DOCTYPE html>
<html>

<head>
  <title>
    <%- title %>
  </title>


  <%- include('elements/bootstrap'); %>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>

  <header>
    <%- include('elements/head'); %>
  </header>



  <!-- cadastro de usuario -->
  <form class="w-50 m-auto bg-secondary text-white text-center" method="get" action="/cadastrar">
    <div class="">
      <label for="email">Email</label>
      <input type="email" id="email" placeholder="coloque seu email" name="email">
    </div>
    <div class="">
      <label for="nome">Nome</label>
      <input type="text" placeholder="coloque seu nome" id="nome" name="nome">
    </div>


    <p lass="btn btn-primary mt-3">Cadastrar</p>
    <button type="submit" class="btn btn-primary" onclick="check()">Cadastrar</button>
  </form>


  <%- include('elements/bootstrapscript') %>






    <footer>
      <%- include('elements/footer') %>
    </footer>


    <script>
      function check() {
        nome = document.getElementById('nome').value
        email = document.getElementById('email').value

        let reg = /^[\w.\+]+@\w+.\w{2,}(?:.\w{2})?$/;
        if (nome == "" || email == "") {
          alert("você deixou algum campo vazio!")
        } else if (reg.test(email)) {
          alert("Cadastrado com Sucesso!")
        } else {
          alert("Email inválido");
        }
      }
    </script>
</body>

</html>